<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>973311590764-2bmnl5jqgsi9vmiho7ps8o6q1s93l8l9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.973311590764-2bmnl5jqgsi9vmiho7ps8o6q1s93l8l9</string>
	<key>API_KEY</key>
	<string>AIzaSyCyVFDgLBBGKKV9p6r5FSLUK7G6eBwGwcg</string>
	<key>GCM_SENDER_ID</key>
	<string>973311590764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.avpc.ios</string>
	<key>PROJECT_ID</key>
	<string>avpc-9541a</string>
	<key>STORAGE_BUCKET</key>
	<string>avpc-9541a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:973311590764:ios:d08f68c5f3d54d0a</string>
	<key>DATABASE_URL</key>
	<string>https://avpc-9541a.firebaseio.com</string>
</dict>
</plist>